1. Load the tips dataset.

In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.metrics import mean_squared_error, r2_score, explained_variance_score
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import f_regression, RFE, SelectKBest
import sklearn.preprocessing

from math import sqrt
import seaborn as sns
import warnings
from pydataset import data

from env import host, user, password
import feature_engineering as fe
warnings.filterwarnings('ignore')

In [42]:
df = data("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

a. Create a column named `tip_percentage`. This should be the tip amount divided by the total bill.

In [43]:
df['tip_percentage'] = round(df['tip'] / df['total_bill'], 3)
df.head()

   total_bill   tip     sex smoker  day    time  size  tip_percentage
1       16.99  1.01  Female     No  Sun  Dinner     2           0.059
2       10.34  1.66    Male     No  Sun  Dinner     3           0.161
3       21.01  3.50    Male     No  Sun  Dinner     3           0.167
4       23.68  3.31    Male     No  Sun  Dinner     2           0.140
5       24.59  3.61  Female     No  Sun  Dinner     4           0.147

b. Create a column named `price_per_person`. This should be the total bill divided by the party size.

In [44]:
df['price_per_person'] = round(df['total_bill'] / df['size'], 3)
df.head()

,total_bill,tip,sex,smoker,day,time,size,tip_percentage,price_per_person
1,16.99,1.01,Female,No,Sun,Dinner,2,0.059,8.495
2,10.34,1.66,Male,No,Sun,Dinner,3,0.161,3.447
3,21.01,3.50,Male,No,Sun,Dinner,3,0.167,7.003
4,23.68,3.31,Male,No,Sun,Dinner,2,0.140,11.840
5,24.59,3.61,Female,No,Sun,Dinner,4,0.147,6.148

c. Before using any of the methods discussed in the lesson, which features do you think would be most important for predicting the tip amount? The tip percentage?

- total_bill
- size
- smoker
- price_per_person

d. Use all the other numeric features to predict tip amount. Use select k best and recursive feature elimination to select the top 2 features. What are they?

In [11]:
from sklearn.model_selection import train_test_split
import sklearn.preprocessing

In [51]:
target = 'tip'
target2 = 'tip_percentage'

# Split it
X_train, y_train, X_validate, y_validate, X_test, y_test = fe.train_validate_test(df, target)

object_cols = fe.get_object_cols(df)
numeric_cols = fe.get_numeric_X_cols(X_train, object_cols)

X_train_scaled, X_validate_scaled, X_test_scaled = fe.min_max_scale(X_train, X_validate, X_test, numeric_cols)

In [52]:
X_train_scaled.columns.tolist()

['total_bill', 'size', 'tip_percentage', 'price_per_person']

In [53]:
# parameters: f_regression stats test
f_selector = SelectKBest(f_regression, k=2)

# find the top 8 correlated features to target
f_selector.fit(X_train_scaled, y_train)

# boolean mask
feature_mask = f_selector.get_support()

# get list of top features. 
f_feature = X_train_scaled.iloc[:,feature_mask].columns.tolist()

In [54]:
# initialize the ML algorithm
lm = LinearRegression()

# create the rfe object

# fit the thing
rfe.fit(X_train_scaled,y_train)  

# get the mask of the columns
feature_mask = rfe.support_

# get list of column names. 
rfe_feature = X_train_scaled.iloc[:,feature_mask].columns.tolist()

In [56]:
f_feature

['total_bill', 'size']

In [57]:
rfe_feature

['total_bill', 'tip_percentage']

e. Use all the other numeric features to predict tip percentage. Use select k best and recursive feature elimination to select the top 2 features. What are they?

In [58]:
X_train2, y_train2, X_validate2, y_validate2, X_test2, y_test2 = fe.train_validate_test(df, target2)

object_cols2 = fe.get_object_cols(df)
numeric_cols2 = fe.get_numeric_X_cols(X_train2, object_cols2)

X_train_scaled2, X_validate_scaled2, X_test_scaled2 = fe.min_max_scale(X_train2, X_validate2, X_test2, numeric_cols2)

In [59]:
X_train_scaled2.columns.tolist()

['total_bill', 'tip', 'size', 'price_per_person']

In [60]:
# parameters: f_regression stats test
f_selector2 = SelectKBest(f_regression, k=2)

# find the top 8 correlated features to target
f_selector2.fit(X_train_scaled2, y_train2)

# boolean mask
feature_mask2 = f_selector2.get_support()

# get list of top features. 
f_feature2 = X_train_scaled2.iloc[:,feature_mask2].columns.tolist()

In [61]:
# initialize the ML algorithm
lm = LinearRegression()

# create the rfe object

# fit the data using RFE
rfe2.fit(X_train_scaled2,y_train2)  

# get the mask of the columns selected
feature_mask2 = rfe2.support_

# get list of the column names. 
rfe_feature2 = X_train_scaled2.iloc[:,feature_mask2].columns.tolist()

In [62]:
f_feature2

['tip', 'price_per_person']

In [63]:
rfe_feature2

['total_bill', 'tip']

f. Why do you think select k best and recursive feature elimination might give different answers for the top features? Does this change as you change the number of features your are selecting?

Yes the higher your k value that top features will change because they play off of each others relationship to one another.

2. Write a function named `select_kbest` that takes in the predictors (X), the target (y), and the number of features to select (k) and returns the names of the top k selected features based on the `SelectKBest` class. Test your function with the `tips` dataset. You should see the same results as when you did the process manually.

def select_kbest(x, y, k):
    '''
    Parameters:
    x = dataframe
    y = target,
    k = # features to return
    '''
    
    X_train, y_train, X_validate, y_validate, X_test, y_test = train_validate_test(x, y)
    object_cols = get_object_cols(x)
    numeric_cols = get_numeric_X_cols(X_train, object_cols)
    X_train_scaled, X_validate_scaled, X_test_scaled = min_max_scale(X_train, X_validate, X_test, numeric_cols)
    
    f_selector = SelectKBest(f_regression, k)
    f_selector.fit(X_train_scaled, y_train)
    feature_mask = f_selector.get_support()
    f_feature = X_train_scaled.iloc[:,feature_mask].columns.tolist()
    
    return f_feature

3. Write a function named `rfe` that takes in the predictors, the target, and the number of features to select. It should return the top k features based on the `RFE` class. Test your function with the `tips` dataset. You should see the same results as when you did the process manually.

def rfe(x, y, k):
    '''
    Parameters:
    x = dataframe
    y = target,
    k = # features to return
    '''
    X_train, y_train, X_validate, y_validate, X_test, y_test = train_validate_test(x, y)
    object_cols = get_object_cols(x)
    numeric_cols = get_numeric_X_cols(X_train, object_cols)
    X_train_scaled, X_validate_scaled, X_test_scaled = min_max_scale(X_train, X_validate, X_test, numeric_cols)
    
    lm = LinearRegression()
    rfe = RFE(lm, k)
    rfe.fit(X_train_scaled,y_train)
    feature_mask = rfe.support_
    rfe_feature = X_train_scaled.iloc[:,feature_mask].columns.tolist()
    return rfe_feature

4. Load the `swiss` dataset and use all the other features to predict Fertility. Find the top 3 features using both select k best and recursive feature elimination (use the functions you just built to help you out).